{% set field_id = random %}
<div class="container" style="border: 0.1rem solid #d1d1d1;" id="">
    <h5>{{ field.label }}</h5>

    <div class="demo-area">
        <button id="open-gallery-modal" class="btn btn-primary">Open Gallery Picker</button>
        <div id="selected-images-display">
            <h6>Your selected images will appear here</h6>
            <div id="result-container" class="result-images"></div>
        </div>
    </div>
</div>