{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="main-content db-form-container">

        <div class="row">
            <div class="col-md-6">
                <h3 id="database-configuration-instructions">⚙️ <strong>User Account Creation</strong></h3>
                <p>
                    To create a new user account, enter your full name, email address, and choose a strong password.
                    Make sure to confirm your password correctly. You also need to select the appropriate time zone
                    and user role. Once registered, you will be able to log in with your credentials.
                </p>

            </div>
            <div class="col-md-6">
                {{ _form|raw }}
            </div>
        </div>
    </div>

{% endblock %}