{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">
       
       <div class='table-responsive'>
       
           <table class='table table-stripped'>
             thead
           </table>

       </div>


    </div>

{% endblock %}