{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">

        <div class="title">
            <h1>
                Search results

                {% if results|length > 0  %}
                  <em>{{ results|length }} search results</em>
                {% else %}
                <em> no results</em>
                {% endif %}
            </h1>
        </div>
    </div>

{% endblock %}