{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">
       <div class="container-fluid">
           <div class="d-block">
               <h1>Content field type selection</h1>
           </div>
           <div class="row">
               {% if field_types is iterable %}

                   {% for field in field_types %}
                     {{ "chance" }}
                   {% endfor%}

               {% endif %}
           </div>
       </div>
    </div>

{% endblock %}