{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">
        <h2>Confirm Deletion ({{ node.title }})</h2>
        <p>Are you sure you want to delete this node?</p>
        <p>Please pick a deletion option below</p>
        <a href="?action=1" class="mx-2" title="permanent deletion">Delete</a>
        <a href="?action=2" class="mx-2" title="mark deleted">Soft Delete</a>
        <a href="?action=3" class="mx-2" title="leave">Cancel</a>
    </div>

{% endblock %}