{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="config-container">
        <h2>Configuration Settings</h2>

        <div class="config-section">
            <h3>System</h3>
            <div class="config-item"><a href="/admin/config/system/site-information">Basic Site Settings</a></div>
            <div class="config-item"><a href="#">Cron Settings</a></div>
            <div class="config-item"><a href="/admin/config/smtp">Smtp Settings</a></div>
        </div>

        <div class="config-section">
            <h3>People</h3>
            <div class="config-item"><a href="/admin/config/people/accounts">Account Settings</a></div>
        </div>

        <div class="config-section">
            <h3>Development</h3>
            <div class="config-item"><a href="#">Performance</a></div>
            <div class="config-item"><a href="#">Development Settings</a></div>
            <div class="config-item"><a href="#">Logging and Errors</a></div>
        </div>

        <div class="config-section">
            <h3>Media</h3>
            <div class="config-item"><a href="#">File System</a></div>
            <div class="config-item"><a href="#">Image Styles</a></div>
        </div>
    </div>

{% endblock %}
