{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="container">
        <div class="confirmation-box mt-5">
            <h4>{{ title }}</h4>
            <p>{{ message }}</p>
            <p class="text-danger">This action cannot be undone!</p>
            <div class="d-flex justify-content-start gap-3 mt-4">
                <a href="?confirm=yes" class="btn btn-delete px-4">Delete</a>
                <a href="?confirm=no" class="btn btn-cancel px-4">Cancel</a>
            </div>
        </div>
    </div>

{% endblock %}
