{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">Edit Account</h1>
                {{ _form|raw }}
            </div>
        </div>
    </div>

{% endblock %}