{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">
        <h2>Structures</h2>

        <div class="config-section">
            <div class="config-item"><a href="/admin/structure/types">Content types</a></div>
        </div>

    </div>

{% endblock %}