{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="db-form-container">
        <h2>Structures</h2>

        <div class="config-section">
            <div class="config-item">
                <a href="/admin/structure/types">Content types</a>
                <p>Create and manage fields, forms, and display settings for your content.</p>
            </div>
            <div class="config-item">
                <a href="/admin/structure/views">Views</a>
                <p>Manage customized lists of content.</p>
            </div>
        </div>

    </div>

{% endblock %}